[2019-07-29 12:29] cdfa opened #3 "Usage instructions error: override configs do not support "extends""
Hi, the usage instructions in the README say to add an override for the `extends` config for MDX files, but this is not supported by `eslint`: https://github.com/eslint/eslint/issues/8813. Just adding it to the main `extends` list should be fine I think.

[2019-07-29 12:34] cdfa opened #4 "Parse error on YAML headers"
Hi, I want to use this plugin for linting my [Docz](https://www.docz.site) documentation written in MDX, but the plugin seems unable to parse the YAML headers used for configuration.

Example:
[code]

Error:
[code]

[2019-07-29 12:35] JounQin commented on #3
@cdfa The parser inside should only affect `.mdx` files, that why we need to use `overrides`, and `overrides` in `npm` in not extendable: https://github.com/eslint/eslint/issues/12032.

So, `overrides` at top level is needed.

[2019-07-29 12:40] JounQin commented on #4
Thanks for reporting, I'll check as soon as possible.

[2019-07-29 12:44] cdfa commented on #3
Hmm, I'm not sure if I completely understand, but that seems to be an issue specifically with usage from the `package.json`, while the instructions specifically say to put it in the eslint config **file**. Anyway, adding it to the main `extends` list seems to work fine for me (except for the parsing issue #4)

[2019-07-29 12:49] JounQin commented on #3
@cdfa My demo is using `package.json`, and I tried `.eslintrc`, it also works.
Did you upgrade to latest eslint? Your linked issue had been marked as resolved as far as I know.

[2019-07-29 12:53] JounQin commented on #4
@cdfa I can not reproduce this error, can you try to upgrade you eslint version first? If it still throws error, please provide a runnable reproduction, so I can help to check.

[2019-07-29 12:57] JounQin commented on #3
@cdfa I tried `"eslint": "^5.0.0"`, I have the following error like your description:

[code]

So I should upgrade the `peerDependency` `eslint` version to `>= 6.0.0`

[2019-07-29 12:57] #3 closed

[2019-07-30 11:52] JounQin opened #7 "break on inline jsx"
[code]

We need combine inline `jsx` nodes.

[2019-07-30 12:32] cdfa commented on #4
I updated `eslint` to `6.1.0`, but I'm still having the same issue. I created [a branch](https://github.com/cdfa/react-turn-reveal/tree/feature/mdx-lint) so you can view it yourself. You can also see the error on CircleCi [here](https://circleci.com/gh/cdfa/react-turn-reveal/149?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link)

Steps to reproduce:
 * Clone the r

[2019-07-30 12:48] JounQin commented on #4
Thanks for reproduction, I'll take a look A.S.A.P. .

[2019-07-30 13:23] JounQin commented on #4
@cdfa You need to pass a custom parser, because the ast has been transformed by other extensions:

[code]

---

However, there still is an error:

[code]

I will fix it tonight.

[2019-07-30 13:27] cdfa commented on #3
I think `eslint` won't complain about it when running it for some reason, but the [JSON schema](http://json.schemastore.org/eslintrc) for the `.eslintrc` simply doesn't allow it and my editors are warning me about it. Thinking about it, it may be that that schema is different than what `eslint` uses internally. I'll go ask if it can be updated.

[2019-07-30 13:29] JounQin commented on #3
Just PR to update it. :)

[2019-07-30 13:29] cdfa commented on #4
Ah great to learn the root cause! Thank you for your quick work!

[2019-07-30 13:30] cdfa commented on #3
Well, I couldn't find the current version of the schema in their repo, so just gonna make an issue about it.

[2019-07-30 13:33] JounQin commented on #3
FYI, https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/eslintrc.json

[2019-07-30 13:36] cdfa commented on #3
Yeah that's current version on schemastore, but apparently eslint is using a different version internally and that one should be copied to schemastore.

[2019-07-30 15:19] #7 closed

[2019-07-30 15:26] JounQin commented on #4
@cdfa Please try v0.3.0

[2019-07-30 15:52] #4 closed

[2019-07-31 00:01] JounQin opened #12 "Doesn't work well with `eslint-plugin-import`"
`body` and `comments` are not parsed into `ast` for now.

[2019-07-31 00:10] JounQin opened #13 "Autofix html style comment in jsx to jsx comment"
[code]

[2019-07-31 00:11] JounQin commented on #13
Reference: https://github.com/mdx-js/mdx/blob/master/packages/mdx/md-ast-to-mdx-ast.js

[2019-07-31 03:39] #12 closed

[2019-08-02 04:05] #13 closed

[2019-08-02 14:36] JounQin opened #18 "Auto fix jsx style comments in html block to html comments"
[code]

Which is an opposite of #13.

[2019-08-02 14:40] JounQin opened #19 "Integration with [remark-lint](https://github.com/remarkjs/remark-lint)"
[remark-lint](https://github.com/remarkjs/remark-lint) seems better than [markdownlint](https://github.com/DavidAnson/markdownlint).

[2019-08-02 14:43] JounQin opened #20 "more unit tests, jest snapshot based e2e tests"
100% coverage

[2019-08-02 14:54] JounQin opened #21 "Split into monorepos"
Split package to `eslint-mdx` as the parser and `@rxts/eslint-plugin-mdx` as the plain plugin by using monorepos, rename the repository name to be `eslint-mdx`.

[2019-08-03 07:04] #21 closed

[2019-08-03 09:06] cdfa opened #25 "Parse errors with eslint-plugin-import"
From https://github.com/benmosher/eslint-plugin-import/issues/1433#issuecomment-517907592

[2019-08-03 09:13] JounQin commented on #25
![image](https://user-images.githubusercontent.com/8336744/62409976-e7226100-b611-11e9-8fec-2d84a52b2174.png)

It should be working as expected.

Now `@rxts/eslint-plugin-mdx` works very well with `eslint-plugin-import.`

[2019-08-03 09:19] cdfa commented on #25
I don't think any of the errors are expected actually. A few of them still fail because of parse errors and all imports with the "No default export found" error actually do have one.

[2019-08-03 09:20] JounQin commented on #25
Sorry, `Unknown node type: "jsx"` is thrown from `@rxts/eslint-plugin-mdx`, I will check it right now.

[2019-08-03 12:00] JounQin commented on #25
Please upgrade to `0.9.1`

`.eslintrc.json`
<detail>
[code]
</detail>

[2019-08-03 12:02] JounQin commented on #25
Actually I didn't find why `.js/.jsx` files are passed into `@rxts/eslint-plugin-mdx`, it seems caused by `eslint-import-resolver-babel-module`, but I've support other extensions in https://github.com/rx-ts/eslint-plugin-mdx/commit/5386098967d947c390d9024dce1e92c3a0ba15aa, which should also fix this issue.

[2019-08-03 12:02] #25 closed

[2019-08-03 12:19] cdfa commented on #25
Possibly because of `"extensions": [".js", ".jsx", ".mdx"]` in my `.babelrc`

Thank you very much!

[2019-08-03 13:47] cdfa opened #27 "Add no-multi-str to overrides config"
Due to https://github.com/mdx-js/mdx/issues/195, we can't use multi-line template strings in MDX (for use with `styled-components` for example). Therefore, I think we should disable `no-multi-str` in the `overrides` config.

[2019-08-03 14:10] JounQin commented on #27
@cdfa But it does work without empty line:

[code]

[2019-08-03 15:35] cdfa commented on #27
Hmm, my apologies, it seems to be an issue with another package and not `mdx` in general.

[2019-08-03 15:35] #27 closed

[2019-08-10 10:21] #20 closed

[2019-08-21 07:09] #19 closed

[2019-08-21 11:45] JounQin opened #49 "feature: process mdx content with vfile"
Should be very easy.

It will enable rules for filename.

[2019-08-21 12:11] JounQin opened #50 "feature: add eslint-plugin-remark package"
Current implementation in eslint-plugin-mdx can actually be used for all remark related plugins.

Focus on markdown for now.

Maybe rename repository to `eslint-remark`.

[2019-08-21 16:21] #49 closed

[2019-09-01 23:46] JounQin commented on #50
`mdx/remark` should be enough.

[2019-09-01 23:46] #50 closed

[2019-09-24 21:32] cdfa opened #73 "Error when using remark plugins using external processes"
I don't know how much can be done about this, but using remark plugins that use external processes (like `remark-lint-no-dead-urls` or `remark-preset-github`) throws the following error:
[code]

[2019-09-24 21:49] JounQin commented on #73
Async plugin is not supported by Eslint now, it is an known issue, but we can only wait for Eslint support.

[2019-09-24 22:06] JounQin commented on #73
Welcome to PR to add a notice about this is README, or just wait for the official support of async lint rules.

Feel free to reopen it if I'm incorrect.

[2019-09-24 22:06] #73 closed

[2019-09-30 13:53] tizzle opened #78 "Parsing error: Unterminated regular expression literal."
Hey,

first of all thanks for building this. I really appreciate the work you put into this project.

I'm running into a problem with linting MDX files alongside react and typescript. I have a working setup for all of the react parts, but whatever i try, i am not able to get .mdx linting to work.

The linter shows 'Parsing error: Unterminated regular expression literal.' on jsx in MDX files.

[cod

[2019-09-30 14:18] JounQin commented on #78
https://github.com/tizzle/mdx-lint-bug/blob/master/.eslintrc.json#L9

It seems unnecessary.

[2019-09-30 14:21] tizzle commented on #78
If I remove it, it leads to the following error:

[code]

[2019-09-30 14:28] JounQin commented on #78
It seems an incorrect usage to enable `parserOptions.project` with `@typescript-eslint/parser` for all files, you should use `overrides` for `.tsx?` files since `v2.2.0`.

More detail: https://github.com/typescript-eslint/typescript-eslint/releases/tag/v2.0.0

[2019-09-30 14:30] JounQin commented on #78
What means you shoud use:

[code]

[2019-09-30 14:35] tizzle commented on #78
Hey @JounQin,

this works like a charm. Thank you so much for the quick response and prompt resolution.

Cheers

[2019-09-30 14:35] #78 closed

[2019-10-29 16:27] Kerumen opened #92 "Incompatibility with @typescript-eslint"
When we use the config `@typescript-eslint/recommended-requiring-type-checking` from [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin) we have to set `parserOptions.project`.

It seems that `eslint-mdx` overwrites the `parserOptions.project` config because when we run `eslint` we get this error:

[code]

[2019-10-29 16:35] JounQin commented on #92
Please provide more detail.

Including your eslint config, or a minimal runnable reproduction.

(This seems a usage question, instead of bug, IMO)

You can always use `overrides` feature of `eslint`, check https://github.com/1stG/configs/blob/master/packages/eslint-config/overrides.js as reference or demo.

[2019-10-29 16:36] JounQin commented on #92
Don't enable `@typescript-eslint/recommended-requiring-type-checking` for all files.

[2019-10-29 16:36] #92 closed

[2019-12-16 23:30] cschwebk opened #116 "The package published to npm as v1.6.4 does not include the module code"
### Subject of the issue

The package published to npm as v1.6.4 does not include the module code.

![image](https://user-images.githubusercontent.com/1235114/70951723-0649ea00-2019-11ea-9ef4-ec38625f86bb.png)

[2019-12-16 23:47] cschwebk commented on #116
Looks like `eslint-plugin-mdx` and `eslint-mdx` suffer from the same issue.

[2019-12-16 23:51] JounQin commented on #116
@wooorm Oh, sorry, did you forget to run `yarn build` before publishing?

[2019-12-17 00:20] JounQin commented on #116
@mdx-js/releasers Please help to publish `v1.6.5` and deprecated `v1.6.4`, run `yarn build` first before publishing.

[2019-12-17 06:47] wooorm commented on #116
I ran several scripts outlined in `package.json`, but I’m guessing that the order was off (it seems the test script again removes everything?)

[2019-12-18 11:01] JounQin commented on #116
@wooorm Yep, `clean` before `test` is required for better test coverage after my personal practice.

[2019-12-18 11:03] #116 closed

[2020-01-15 13:43] lolmaus commented on #3
Had this problem because `eslint` was an implicit dependency`, and apparently an old version got installed.

Doing `yarn add -D eslint` (or `npm i -D eslint`) resolves the issue.

[2020-01-15 13:54] JounQin commented on #3
@lolmaus IMO `eslint` should always be one of `peerDependencies`. 🤣
Glad that you've resolved your problem.

[2020-01-24 18:13] cpboyd opened #138 "Parsing error: Subsequent lines with self-closing JSX tags"
### Subject of the issue

Two lines with self-closing JSX tags seem to have issues:
[code]

### Your environment

*   **OS**: macOS 10.15.2
*   **Packages**:
[code]
*   **Env**: yarn 1.21.1

### Steps to reproduce

[code]

### Expected behaviour

The parser should be able to handle two separate self-closing JSX tags on subsequent lines.

### Actual behaviour

The parser throws an error.

[2020-01-24 18:22] cpboyd opened #139 "Parsing error: unexpected closing tag with style"
### Subject of the issue

Adding `style={{}}` seems to break parsing of closing tags.
[code]

### Your environment

*   **OS**: macOS 10.15.2
*   **Packages**:
[code]
*   **Env**: yarn 1.21.1

### Steps to reproduce

[code]

### Expected behaviour

The parser should be able to style on a JSX tag.

### Actual behaviour

The parser throws an error.

[2020-01-24 18:30] cpboyd commented on #139
Seems to actually be an issue with prettier: https://github.com/prettier/prettier/issues/7041

[2020-01-24 18:30] #139 closed

[2020-01-25 00:24] JounQin commented on #138
Please provide a minimal runnable reproduction.

[2020-01-26 00:52] cpboyd commented on #138
@JounQin Here you go: https://github.com/cpboyd/bug-mdx

[2020-01-26 05:17] JounQin commented on #138
This error is thrown from https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-mdx/src/traverse.ts#L57
and adjacent self-closing jsx nodes are not parsed separately, it can be handlered by wrapping with `<$></$>`, I'll try to fix it ASAP.

[2020-01-26 05:57] JounQin commented on #138
@mdx-js/maintainers Should that be parsed as separated nodes via `remark-mdx`?

[2020-01-26 06:09] JounQin commented on #138
@cpboyd You can use as following as workaround temporarily.

[code]

[2020-01-26 06:37] JounQin commented on #138
@mdx-js/releasers Would you like to publish a patch version by `yarn publish`?

[2020-01-26 11:32] #138 closed

[2020-01-26 11:33] JounQin commented on #138
@cpboyd Would you like to check whether v1.6.6 works?

[2020-01-26 11:33] wooorm opened #140 "Add contributing guidelines"
### Subject of the feature

This project has the MDX defaults for support, contributing, issue/pr templates, etc, but some project-specific ways to contribute (e.g., how to publish) are unclear to me.

### Problem

I’m unsure what the procedure is to publish a release.

### Expected behavior

Documentation on which scripts to run, what to do, etc.

[2020-01-26 11:40] JounQin commented on #140
Sorry @wooorm You published empty packages again as v1.6.6 without CHANGELOG files.😂

I'll add related documentations ASAP.

But could you run `yarn build && yarn run publish` again?

(And that's why I prefer CI deployment automatically again)

[2020-01-26 11:44] wooorm commented on #140
@JounQin You already ran `yarn run publish`, creating the releases entry, the changeling entry, the commit, and the tag, so instead I ran `npm publish` on both packages, to release your changes.

[2020-01-26 11:50] JounQin commented on #140
@wooorm You need to run `yarn build` first to build `lib` directories before deployment, I tried to run `yarn run publish` but I do not have npm publish permission, so you'll have to help to build and publish the npm packages manually.

Sorry again.

[2020-01-26 12:03] wooorm commented on #140
There, that worked! Thanks for your patience.

For the publishing, `yarn build` is unneeded. `yarn run publish` already does that.
While running your suggested steps, I was not allowed to publish; for the contributing docs: you need to publish with a `GH_TOKEN` in the environment, like so: `GH_TOKEN=123123 yarn run publish`

[2020-01-26 12:26] JounQin commented on #140
@wooorm That seems not correct to me. `prepublishOnly` will not run on script `publish`.

I decide to rename them to `predeploy` and `deploy`, how do you think?

[2020-01-26 12:33] wooorm commented on #140
Interesting! I did `yarn build` first, and I believe in the log for `publish` I saw the same build printed again! 🤷‍♂️

I have no real opinions on this!
To iterate my stance on npm tokens again: my preference is to not automate publishes, but if MDX releasers want to do it, that’s fine!

[2020-01-26 13:35] JounQin commented on #140
@mdx-js/releasers So releasers, how do you think about publishing on CI automatically?

[2020-01-26 15:09] #140 closed

[2020-01-27 02:42] cpboyd commented on #138
@JounQin it works, thanks!

[2020-02-02 13:49] JounQin commented on #18
@mdx-js/maintainers I'm wondering whether it works as expected.

[code]

![image](https://user-images.githubusercontent.com/8336744/73609134-a4b00000-4605-11ea-87e8-1f76f8095198.png)

They are not consistent IMO.

[2020-02-03 11:05] wooorm commented on #18
I don’t understand, could you expand on what your question is?

[2020-02-03 12:33] JounQin commented on #18
@wooorm Hmm... Did you see my capture of playground? Same "jsx" content emits different outputs due to "inline" paragraph(sorry I'm a native English speeker😂).

In "inline" mode, the "jsx" children are considered as markdown content, what makes true jsx comments impossible.

[2020-02-03 17:47] wooorm commented on #18
I saw your code! Right!

So, there is a big difference between “inline” and “block” JSX.

Taking a different example, `Inline <i>**emphasis and importance**</i>` is “inline” (the markdown works), whereas `<div>\n**no importance, this doesn’t work**\n</div>` is block (the markdown doesn’t work).

See also: https://github.com/mdx-js/mdx/issues/628

[2020-02-08 22:23] muuvmuuv opened #147 "Support Frontmatter"
### Subject of the feature

I'm currently creating a new eslint setup in my project and everything seems fine but when I lint `.mdx` files I'm getting the below warning. I couldn't find anything in the docs or if it is even already supported but frontmatter support is necessary.

[code]

### Problem

No frontmatter support

### Expected behavior

Should ignore the frontmatter section or lint it if

[2020-02-09 06:06] JounQin commented on #147
Try to use `overrides` of ESLint first.

And, a minimal runnable reproduction is required.

[2020-02-09 06:20] #147 closed

[2020-02-16 18:33] NickyMeuleman opened #158 "eslint-plugin-mdx triggering mdx/no-unescaped-entities inside JSX"
Saw the

and

So asked there first.

### Subject of the issue

eslint-plugin-mdx triggering mdx/no-unescaped-entities inside JSX
![Code_7IO2sDBmqf](https://user-images.githubusercontent.com/30179461/74610311-6ed54600-50f2-11ea-999a-3b8121c03afa.png)

### Your environment

*   **OS**: Windows 10 using WSL2 Ubuntu Bionic Beaver
*   **Packages**: eslint-plugin-mdx
*   **Env**: node 12, yarn 1.17

###

[2020-02-22 06:59] JounQin commented on #158
@NickyMeuleman You can add an empty line as workaround for now, I'll take a look ASAP.

[2020-03-02 00:02] silvenon commented on #140
I don't have experience with it, so I'm initially uncomfortable with that idea, but I think eventually this should be a part of popular projects _as long as they're well set up_, so I'm open to trying. I'd need to educate myself about this first, though. @JounQin do you already have much experience with this to explain this process and the challenges you faced in the past? I suggest opening a new

[2020-03-04 14:14] SarantopoulosKon opened #167 "mdx/no-unused-expressions Error when using safe optional operator "?""
#####Getting an eslint error when using safe optional operator in my typescript files.

### Subject of the issue
I use eslint-mdx to lint my mdx stories. In my typescript project i use safe optional operator and i get `Expected an assignment or function call and instead saw an expression. (mdx/no-unused-expressions)` error from the eslint mdx plugin. Only workaround i have found is to disable the

[2020-03-04 16:05] JounQin commented on #167
Reproduction is required.

[2020-03-07 15:07] SarantopoulosKon commented on #167
I made a [reproduction repo here](https://github.com/SarantopoulosKon/mdx-safe-optional-fn-call)

In `App.tsx` in the `ExampleComponent` you can see i'm using optional chaining with function call and getting an error. The error occurs only for safe optional function calling. And according to [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining#Optiona

[2020-03-07 20:13] JounQin commented on #167
`mdx/no-unused-expressions` is calling `no-unused-expressions` from `ESLint`:

https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-plugin-mdx/src/rules/no-unused-expressions.ts#L18

And when I changed your config to:

[code]

There still will be an error:

[code]

So you should post issue to `ESLint` itself instead.

---

Besides, you can use `overrides` for `.mdx`:

[code]

[2020-03-07 20:13] #167 closed

[2020-03-25 09:57] onichandame opened #182 "Question&Bug: Does not work well with preset styles"
### Not Working with Preset Styles

when initiates eslint with one of the preset styles: google, standard or airbnb, eslint-mdx seems to conflict with the preset style.

### Your environment

*   **OS**: CentOS
*   **Env**: node 10.19.0, yarn 1.22.4 eslint 6.8.0

### Steps to reproduce:

1. create a react app with create-react-app
[code]
2. init eslint in the app folder
[code]
3. add mdx plugin
[c

[2020-03-25 14:29] JounQin commented on #182
Please provide a runnable online reproduction, I don't use CRA personally.

[2020-03-25 14:38] ChristianMurphy commented on #182
@onichandame this is coming from from the airbnb preset
https://github.com/airbnb/javascript/blob/0375265cbd43635f8062615995a6a86f22fd0fc2/packages/eslint-config-airbnb/rules/react.js#L318-L320
To support mdx, override the "jsx-filename-extension" rule with
[code]

in your eslint config.

[2020-03-25 15:30] onichandame commented on #182
@JounQin

### Google

Please see https://codesandbox.io/s/lingering-bush-7o3cn.

Basically I ran `npx eslint --init` and selected Google style during setup. The the linebreak-style is changed to CRLF as the server seems to use CRLF on default.

Now if you run `npx eslint test.mdx --fix` and reload test.mdx by simply clicking it in the Files list, some extra semicolons are added to the end of line

[2020-03-25 15:54] onichandame commented on #182
@ChristianMurphy Thanks! One problem solved. Sadly others remain.

https://codesandbox.io/s/vigilant-elion-urmpf
If you run `npx eslint test.mdx` in the terminal, same problem which is mentioned in the Google style part persists.

[2020-03-25 16:46] JounQin commented on #182
I didn't run codebox actually, but the key problem is `.mdx` files require `eslint-mdx` as parser while other configs may overrie it.

So you can try to locate `plugin:mdx/recommended` to last position of configs so that it will handle all files correctly.

Or, you can use `overrides` feature of `ESLint` according to README.

[2020-03-25 16:48] JounQin commented on #182
And please provide what are the specific error outputs exactly... You comments maybe not so helpful to locate your real problems.

[2020-03-26 06:31] onichandame commented on #182
@JounQin Thanks but none of your suggestions worked. https://codesandbox.io/s/lingering-bush-7o3cn has been updated according to your advice.

1. moved `plugin:mdx/recommended` to the end of the extends section.
2. added overrides rules according to the README.

### Steps to Reproduce

1. go to https://codesandbox.io/s/lingering-bush-7o3cn
2. fork so you can access the terminal with your own accou

[2020-03-26 07:50] JounQin opened #183 "`;` could be part of `jsx` node"
`<div>hi</div>;` is a valid jsx node, but `eslint-mdx` parses it incorrectly like `<div>hi</div>` what means `;` in jsx node are ignored.

[2020-03-26 07:54] JounQin commented on #182
@onichandame OK, I just open an issue and track it at #183.

There is no workaround for this issue temporarily, you can disable ESLint rule [`semi`](https://eslint.org/docs/rules/semi) for `.mdx` files for now.

[code]

[2020-03-26 07:54] #182 closed

[2020-04-09 06:24] JounQin commented on #158
@NickyMeuleman Sorry for the delay, it should be fixed after #196 been merged and released.

[2020-04-09 14:05] #158 closed

[2020-04-12 10:10] JounQin commented on #158
@NickyMeuleman Can you try v1.6.9?

[2020-04-12 12:56] NickyMeuleman commented on #158
Can confirm I no longer get the error.
This is a screenshot I just took in the same file
![image](https://user-images.githubusercontent.com/30179461/79069341-bd0b5d80-7ccd-11ea-9585-a11e93c4f9bc.png)

[2020-04-15 00:54] kate-hall commented on #147
I'm also having this issue. I think there are flaws in the code suggested by JounQin above if anyone is banging their heads on this: `plugin/mdx:recommended` should be `plugin:mdx/recommended`

Note that neither suggested solution allowed frontmatter in MDX files to pass through the linter successfully.

[2020-04-15 02:59] JounQin commented on #147
@kate-hall Hah, thanks for pointing out my typo.

Would you like to post a new issue with a minimal and runnable reproduction?

[2020-04-24 08:31] JounQin commented on #183
It seems `;` will be wrapped into a parent jsx too, so it makes the `;` symbol not to be same as a js expression. What means the following are different:

[code]

Does it mean we should always disable ESLint `semi` rule?

![image](https://user-images.githubusercontent.com/8336744/80191935-030ade80-8649-11ea-8a44-f18b3d55f53d.png)

@wooorm @johno @ChristopherBiscardi

[2020-04-24 08:43] wooorm commented on #183
The semicolon is not part of JSX: https://facebook.github.io/jsx/
It’s part of JS with embedded JSX, because you can do `a = 1;`, you can also do `a = <>1</>;`.
So, for MDX, the semicolon shouldn’t be handled. Similar to how a plus, equals to, or other random characters wouldn’t be: `<>1</> + <>1</> = 2`

[2020-04-24 09:17] JounQin commented on #183
Yes, so I think we need a new `mdx/semi` rule to replace the built-in `semi` rule which should work just same as the built-in one for plain js expression like `import/export` statements but reports warning if it's at the end of an unexported jsx expression.

[code]

[2020-04-24 09:21] wooorm commented on #183
Is it needed to fail on them? They’d appear as text in a post, and could be used:
[code]

[2020-04-24 10:06] JounQin commented on #183
Sounds reasonable. So we should just care about semicolons in normal js expression without jsx?

[2020-04-24 10:27] wooorm commented on #183
Yeah, I think so! JavaScript cn be in imports, exports, and expressions, semicolons should be checked there. But in other places (markdown or jsx), I don't think they should!

[2020-04-28 13:58] wooorm opened #203 "Support async processing"
### Subject of the issue

`eslint-mdx` uses .processSync instead of .process, causing async plugins to fail.

[code]

### Your environment

*   **OS**: osx latest
*   **Packages**:
*   **Env**: node 13.10, 6.14, yarn 1.22

### Steps to reproduce

`yarn format` in `mdx-js/mdx` (with changes on a branch)

### Expected behaviour

Support async plugins: https://github.com/mdx-js/eslint-mdx/blob/96fc83

[2020-04-29 06:56] JounQin commented on #203
Yes, it is a known issue, and that's why [validate-links](https://github.com/mdx-js/mdx/blob/master/.remarkrc.js#L19) rule is disabled in `mdx-js/mdx`.

As I know asynchronous rule is not supported by ESLint itself right now, or is there any workaround to support?

Related: #73

[2020-04-29 07:30] wooorm commented on #203
Ahh okay, didn’t know ESLint didn’t support that 🤔

[2020-05-20 22:18] johno opened #204 "Support for MDX v2"
Thanks for the amazing package @JounQin!

For v2 it looks like we'll need to change a few things with this package, it's currently silently failing when run in the `next` branch of [mdx-js/mdx](https://github.com/mdx-js/mdx). Will you have any time in the next month or so to ensure compatibility?

[code]

[2020-05-20 22:20] JounQin commented on #204
Sure, I'll take a look ASAP.

[2020-05-21 16:47] DanielFerrariR opened #205 "Can't disable a rule with mdx-js/eslint-mdx and remake-lint"
Can't disable remake-lint rules while using it with mdx-js/eslint-mdx (on a .md file). Tried:

[code]

I can disable mdx rules in .mdx files just fine, but it doesn't work for .md ones.

Also, seems pretty bad to have to reload my vscode to update disabled rules from .remarkrc file. Is there any better way to use these rules with eslint?

package.json
[code]

.eslintrc
[code]

.remarkrc
[code]

[2020-05-24 08:09] JounQin commented on #204
@johno https://github.com/mdx-js/eslint-mdx/commit/80686eb0e9cb7e0f8d468d9616b85c1f7ebc6cca#commitcomment-38853669
This commit has not been published yet, that's why ESLint breaks.

[2020-05-24 10:12] JounQin commented on #205
@DanielFerrariR Please provide a minimal and runnable reproduction like a GitHub repository with https://www.gitpod.io/.

[2020-05-24 10:21] JounQin commented on #205
`You’ll need the blank lines between comments and other nodes!` (from [remark-lint](https://github.com/remarkjs/remark-lint))

Did you try to add a blank line after ``?

[2020-05-25 06:44] JounQin commented on #204
@johno @wooorm So would like publish a new version?

[2020-05-25 14:23] DanielFerrariR commented on #205
https://github.com/DanielFerrariR/mdx-eslint-example

Couldn't make eslint work on gitpod.io. Maybe because extensions is on beta phase there.

[2020-05-26 04:33] JounQin commented on #205
@DanielFerrariR Thanks for reporting, and I can reproduce it locally now.

But it seems a bug of `remark` API itself, because I tried to call the API manually, the warning is always there:

[code]

[code]

[code]

But if I use `remark-cli` directly with `yarn remark README.md`, there will be no issue anymore.

@wooorm Any idea?

Maybe related: https://github.com/remarkjs/remark-lint/issues/47

[2020-05-26 05:03] JounQin commented on #205
OK, I found out that whenever I add `remark-mdx` into `remarkProcessor` at https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-plugin-mdx/src/rules/helper.ts#L81, there will be warnings, if I remove `.use(remarkMdx)` there, it will just work as expected.

So it should be an issue of `remark-mdx`? @wooorm

What means `disable` comments parsed by `remark-mdx` will stop working.

[2020-05-26 07:01] wooorm commented on #205
Weird. For a quick fix for now, adding this plugin right after remark-mdx should do the trick @JounQin: https://github.com/mdx-js/mdx/blob/master/packages/mdx/md-ast-to-mdx-ast.js

That’s a step MDX takes right before applying `remarkPlugins`, which it’s doing outside of the unified flow unfortunately.

In the v2 branch, I removed that step: https://github.com/mdx-js/mdx/tree/next/packages/mdx

[2020-05-26 07:23] wooorm commented on #204
Done

[2020-05-26 13:15] JounQin commented on #205
@wooorm I don't know whether I understand correctly but I tried like following:

[code]

There will be a fetal error:

[code]

[2020-05-26 13:26] wooorm commented on #205
Gosh, that’s a pity.

[2020-05-29 20:28] patricklafrance opened #207 "Parsing Errors: Unterminated JSX contents when using details element"
### Subject of the issue

In VSCode, when using a [details element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) I get the following error: "Parsing Errors: Unterminated JSX contents".

![image](https://user-images.githubusercontent.com/794579/83301610-ef164780-a1c7-11ea-9972-5854184a1f01.png)

I am pretty sure this is because of this plugin since it goes away if I remove the

[2020-07-11 17:40] JounQin opened #217 "`mdx/no-unescaped-entities` usage issue"
[code]

[2020-07-11 18:30] JounQin commented on #217
Because there is no empty line in AST, so after [combined](https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-mdx/src/traverse.ts#L24) into single jsx node, the actually jsx code used by eslint parser in like following:

[code]

What makes the ESLint AST different with the actual code.

cc @wooorm

[2020-07-11 18:42] wooorm commented on #217
Yeah, MDX@1 doesn’t like blank lines. That’s the issue, right?. This is something MDX@2 will do very differently, and I believe much better, though?

[2020-07-11 20:40] JounQin commented on #217
I found a way to skip using `node.value` instead.

https://github.com/mdx-js/eslint-mdx/pull/218/files#diff-d1b4b2537d369552aca7acbfd12a8d70R29

[2020-08-04 15:27] bucurvladadrian opened #225 "Airbnb + mdx eslint"
If you need help, support, or have a question that is not a bug report or
feature request, please post it on Spectrum: <https://spectrum.chat/mdx>.

Questions asked here will be closed.
Hi,

Hi,

I got airbnb to work correctly on jsx files, but my project also contains mdx files.
I installed [eslint-mdx](https://github.com/mdx-js/eslint-mdx) and I can't figure it out how to make it work with airbn

[2020-08-04 15:30] ChristianMurphy commented on #225
@bucurvladadrian

Please note the template

feature request, please post it on Spectrum: https://spectrum.chat/mdx.

Please direct questions to Spectrum.

Also see https://github.com/mdx-js/eslint-mdx/issues/182 where Airbnb preset support was discussed https://github.com/mdx-js/eslint-mdx/issues/182

[2020-08-04 15:30] #225 closed

[2020-08-05 06:58] JounQin commented on #205
@wooorm Please help to publish a new release, it should be fixed.

[2020-08-05 06:58] #205 closed

[2020-08-05 09:00] wooorm commented on #205
Published!

Weird: I have a `GH_TOKEN` set up (echo $GH_TOKEN had the correct token as output) but `yarn deploy` didn’t pick up on it 🤔

[2020-08-13 14:04] karlhorky commented on #203
Looks like ESLint is getting parallel processing support: https://github.com/eslint/rfcs/pull/42

(eslint/rfcs#4 is closed now)

[2020-08-19 13:56] nd0ut opened #226 "Error when parsing two or more comments"
### Steps to reproduce

Linting of minimal mdx:

[code]
### Expected behaviour

No any errors

### Actual behaviour

Results in error:

[code]

### What causes

The root of the problem is that the `COMMENT_CONTENT_REGEX` regexp is global and is used twice in different parts of the code with `.exec` method, that mutates it's `lastIndex` property.

I'm preparing a pull request to fix it.

[2020-08-20 06:44] #18 closed

[2020-08-20 06:49] #226 closed

[2020-08-21 08:38] kylemh opened #229 "list "eslint-plugin-react" as a peer dependency"
### Subject of the feature

When creating lint configs, many people will already install `eslint-plugin-react`. By listing the package as a devDependency and peerDependency, the consumer controls the version of the package.

### Problem

The conflicting versions yield warnings during install and cause confusion as to which version of plugin is being adhered to during linting.

### Expected behavio

[2020-08-31 17:25] tiagoporto opened #230 "Invalid character for md syntax"
### Issue

In mdx file I have a mix of HTML and markdown. eslint-plugin-mdx is not recognizing md syntax.

![Screen Shot 2020-08-31 at 2 20 31 PM](https://user-images.githubusercontent.com/3688905/91747832-4ba54c00-eb95-11ea-97d8-347336eb0076.png)

After remove markdown code works

![Screen Shot 2020-08-31 at 2 25 09 PM](https://user-images.githubusercontent.com/3688905/91748126-d4bc8300-eb95-11ea

[2020-09-01 01:34] JounQin commented on #230
`.mdx` files require `eslint-mdx` as parser, but you're wrongly using `@typescript-eslint/parser`, you can try to use `overrides` instead:

[code]

[2020-09-01 01:34] #230 closed

[2020-09-01 13:16] tiagoporto commented on #230
Thank you @JounQin, it worked.

Just for curiosity, when you said `but you're wrongly using @typescript-eslint/parser`, could you explain what Im doing wrong?

Thanks one more time.

[2020-09-01 13:25] JounQin commented on #230
@tiagoporto

I mean `@typescript-eslint/parser` overrides `eslint-mdx` as default parser in your config.

[2020-09-01 13:30] tiagoporto commented on #230
Cool, I was thinking config was wrong.
I can improve it adding ts parser only for tsx and ts file.
Thanks again.

[2020-09-05 17:37] satazor commented on #207
@JounQin The PR at #208 removed the ability to validate JS inside code blocks, such as `js` or `jsx`. I would want to validate JS code inside it as well. What's the reason for removing it?

[2020-09-05 17:43] JounQin commented on #207
That PR has been closed.

And code block is intended to be ignored because they're not source code but something like string literal. But if you want to lint code blocks, maybe you can try eslint-plugin-markdown.

[2020-09-05 23:04] satazor commented on #207
@JounQin it seems that both plugins are incompatible. I've tried to setup both with this config:

[code]

However, only errors coming from `eslint-plugin-markdown` are reported. Once I comment the line with `processor`, only errors coming from `eslint-mdx` are reported. It seems both are incompatible.

Is there anything I'm missing?

[2020-09-05 23:08] satazor commented on #207
Let me know if you me to create a new issue.

[2020-09-08 11:26] madcatsu commented on #147
Adding to this issue.

I'm experiencing the same with eslint >= 7.8.x and following Eslint config:

[code]

I have the same problem as @muuvmuuv but apparently this actual repo doesn't have the same problem if I clone it and add some Markdown and MDX files with standard frontmatter ```---```

[2020-09-08 12:07] JounQin commented on #147
@madcatsu Please post a new issue with runnable reproduction, thx.

[2020-09-08 12:46] madcatsu opened #235 "Frontmatter in Markdown and MDX causes parsing error"
### Subject of the issue

Linting Markdown and MDX files with eslint-mdx results in ```Parsing error: Invalid left-hand side in prefix operation``` error

### Your environment

*   **OS**: MacOS Catalina
*   **Packages**: Refer package.json in example repo
*   **Env**: Node 12.18.3, Yarn 1.22.4

### Steps to reproduce

1. Clone example repository from [https://github.com/madcatsu/eslint-mdx-frontm

[2020-09-09 00:09] JounQin commented on #235
You're using `babel-eslint` instead of `eslint-mdx` as parser for `*.mdx` files.

See also https://github.com/mdx-js/eslint-mdx/issues/230#issuecomment-684138734

[2020-09-09 00:09] #235 closed

[2020-09-09 03:36] madcatsu commented on #235
Thanks @JounQin - I updated my ESLint config to set markdown parser for ```*.md``` files and ```eslint-mdx``` parser for ```*.mdx files``` and still get this error.

Refer to same repository which I have pushed the updated ESLint config to https://github.com/madcatsu/eslint-mdx-frontmatter-issue.git

[2020-09-09 03:43] madcatsu commented on #235
Adding to this, I now get an ```Parsing error: Unexpected token``` on the MDX file when it tries to parse the "---" frontmatter

[2020-09-09 03:53] JounQin commented on #235
@madcatsu `eslint-mdx` parser is for `ESLint`, not for `prettier`,

[code]

[2020-09-18 05:42] JounQin commented on #229
Actually we are using some metadata info from `eslint-plugin-react` (see https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-plugin-mdx/src/rules/no-unescaped-entities.ts#L39), so I'm not a fan to mark it as peer dependency, but maybe we can just copy all the metadata info so that we can just drop `eslint-plugin-react` as dependency.

PR welcome.

[2020-11-09 07:34] daviddelusenet commented on #92
I was also experiencing this issue, I solved it by doing the following:

- Removed `@typescript-eslint/recommended-requiring-type-checking` from my extends.
- Added the following part to the `overrides` section in my ESLint configuration:

[code]

The error went away and linting works fine!

[2020-11-19 07:41] jjoselv opened #248 "eslint-plugin-mdx uses dependency cosmiconfig that uses for async, not supported until node 10"
### Subject of the issue

Describe your issue here.

eslint-plugin-mdx uses dependency cosmiconfig that uses `for async`, not supported until node 10: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for-await...of
[code]
### Your environment

*   **OS**: windows
*   **Packages**: eslint-plugin-mdx": "^1.8.2"
*   **Env**: node: v8.11.3, npm 6.1.0

### Steps to reproduce

[2020-11-19 14:04] JounQin commented on #248
Thanks for your point, `cosmiconfig` requires `node>= 10` now, PR welcome to upgrade the `engines` field.

[2020-11-19 15:23] jjoselv commented on #248
Created

[2020-11-20 02:25] #248 closed

[2020-11-20 10:34] jjoselv opened #250 "Parsing error: <filename.mdx>: Unexpected token"
### Subject of the issue

I am receiving this error with a file as simple as this:

`
# Menu List

Let's define a story for our `TableRowMenu` component:
`
error:
`
#####/stories/TableRowMenu.stories.mdx
  1:0  error  Parsing error: #####/TableRowMenu.stories.mdx: Unexpected token (1:0)

    | ^
  2 |
  3 | Let's define a story for our `TableRowMenu` component:
  4 |
`

Additionaly, I cannot manag

[2020-11-20 11:50] JounQin commented on #250
Your posted content is unreadable, please format it correctly first, thx.

[2020-11-20 12:04] JounQin commented on #250
I can imagine this is a usage question.

`.mdx` files require `eslint-mdx` as parser, but other present overrides mdx recommended config, so the following should do the trick:

[code]

[2020-11-21 13:06] #250 closed

[2020-11-25 10:26] jjoselv commented on #250
With the overrides I managed to make it work via command line, but VS Code MDX extension repots different from command line (basically it appears to be ignoring the yaml config)

[2020-11-25 11:40] JounQin commented on #250
Maybe you just need to reload VSCode.

[2020-11-25 11:52] jjoselv commented on #250
Testing...

[2020-11-25 15:32] JounQin commented on #250
Have you tried the following?

[code]

[2020-11-25 15:35] JounQin commented on #250
Then I have no idea what is happening, I can't reproduce it, and no helpful information.

[2020-11-25 18:37] jjoselv commented on #250
What can I give you to diagnose it?

[2020-11-26 07:47] jjoselv commented on #250
Hi again
I've spent near 5 hours trying to make eslint extension for VSCode to run in debug mode to be able to pass a log to you, but no luck 😢  I can give you the settings that I have in my settings.json
[code]

[2020-11-26 07:49] jjoselv commented on #250
Hm, the debug mode works when typing on a js file, but doesn't when doing it on a mdx file 😩

[2020-11-26 07:56] jjoselv commented on #250
OH! It started working when I added this to the settings.json:
[code]

[2020-11-26 08:10] JounQin commented on #250
Wow, that's wired, it is sad `eslint.validate` is a legacy option.

Maybe we should report it in [vscode-mdx](https://github.com/microsoft/vscode-eslint).

[2020-11-26 09:23] jjoselv commented on #250
True.
Thanks for sticking and for opening the issue! And for the understanding and patience throughout this issue, very much appreciated 👍🏻

[2020-11-30 20:06] scscgit opened #251 ".vue files cause parsing error after enabling plugin:mdx/recommended"
### Subject of the issue

After enabling `"plugin:mdx/recommended"` extension in `.eslintrc.js`, `.vue` files of a Vue project suddenly start incorrectly reporting syntax error during `eslint --ext .js,.ts,.vue,.mdx --ignore-path .gitignore .`, even though this extension shouldn't affect `.vue` files at all (at least I wasn't able to find anything similar in provided documentations after hours of

[2020-12-01 00:32] JounQin commented on #251
`.vue` and `.mdx` requires different parsers, use `overrides` of `eslint` instead then.

[2020-12-01 00:32] #251 closed

[2020-12-01 11:00] scscgit commented on #251
Is this the correct setup then, without including `'plugin:mdx/recommended'` under `eslintrc.js`-level `extends`, or should `extends: 'plugin:mdx/overrides',` be used instead under overrides (because no current example mentions `recommended` under `overrides` this way)?

[code]

Could you please also elaborate on that by pointing me to the place in documentation where this is explained? I haven't

[2020-12-01 13:16] JounQin commented on #251
Sorry for your confusing, the document could be improved in favor of cases like yours.

When you are using some other parsers, you'd better to use `overrides` to separate them without conflicts, what means you can only enable `plugin:mdx/recommended` for `.mdx` files, and `plugin:Vue/recommended` for `.vue` files.

[2020-12-13 12:31] GorvGoyl opened #258 "Linting not working for typescript project - The extension for the file (.mdx) is non-standard. You should add "parserOptions.extraFileExtensions" to your config"
I'm trying to lint *.mdx file in Next.js typescript project but getting below error.

### Command I run:
[code]
### Error I get:
[code]

### .eslintrc.json
[code]

### tsconfig.json
[code]

### Plugins versions:
[code]

Do let me know if you need further details.

[2020-12-14 01:54] JounQin commented on #258
https://github.com/mdx-js/eslint-mdx/issues/250#issuecomment-731130966

[2020-12-14 01:54] #258 closed

[2020-12-14 17:37] GorvGoyl commented on #250
Doesn't that slow it down when saving file? for me it gets stuck saying `Saving 'index.mdx': Getting code actions from ''ESLint', 'Tailwind CSS IntelliSense''` and takes 10-20 seconds to save.

![image](https://user-images.githubusercontent.com/7106086/102114992-e7b34480-3e60-11eb-83c8-05450ecb855e.png)

[2020-12-14 18:36] GorvGoyl commented on #258
I'm using `ESLint: 7.15.0` so according to [docs](https://www.npmjs.com/package/eslint-plugin-mdx#usage) this should be sufficient `{   "extends": ["plugin:mdx/recommended"] }`

Anyway, when I use `{   overrides: [     {       files: '*.mdx',       parser: 'eslint-mdx'     }   ] }` eslint  command adds errors from other typescript plugins like `"extends":["plugin:@typescript-eslint/recommended","a

[2020-12-15 01:11] JounQin commented on #258
https://github.com/mdx-js/eslint-mdx/issues/92#issuecomment-547514834

[2020-12-20 10:50] chenxsan opened #259 "`eslint-plugin-mdx` won't work along with `eslint-plugin-markdown`"
### Subject of the issue

I have [`eslint-plugin-markdown`](https://github.com/eslint/eslint-plugin-markdown) enabled in [this project](https://github.com/webpack/webpack.js.org/pull/4326) with [`processor` option](https://github.com/eslint/eslint-plugin-markdown#advanced-configuration) enabled:

[code]
Now when I enable `eslint-plugin-mdx`:

[code]

`eslint` won't report any errors.

Only when I

[2020-12-21 03:42] JounQin commented on #259
They're definitely not same. `eslint-plugin-mdx` aims to lint `.mdx` files without inside codes, while `eslint-plugin-markdown` aims to lint inside codes.

Maybe you need two eslint config to lint `.md/.mdx` twice if you'd like to lint inside codes.

[2020-12-21 04:08] chenxsan commented on #259
Sure they target different things, that's why I expect `eslint-plugin-mdx` to work fine in my use case.

My point is `eslint-plugin-mdx` won't work with `processor` for `eslint-plugin-markdown` enabled while `eslint-plugin-markdown` works just fine with or without `eslint-plugin-mdx`.

And I believe using `eslint-plugin-markdown` along with `eslint-plugin-mdx` is a very common use case.

Anyway, I

[2020-12-21 06:50] chenxsan commented on #259
I'm closing this as it's expected as per https://github.com/eslint/eslint-plugin-markdown/issues/134, i.e., we can't lint those code inside code blocks in `.mdx` files with `eslint-plugin-markdown`.

@JounQin One last question, any plan to support linting code inside code blocks now that we can't use it together with `eslint-plugin-markdown`? It seems to be possible.

[2020-12-21 08:12] JounQin commented on #259
The mdx core team is working on v2 and will pasring mdx as estree directly, so such changes are not going to happen soon, but you're free to share ideas about how to the possible implementation.

[2021-01-08 13:58] JohnCasab opened #266 "Parsing error: unknown jsx node"

[2021-01-08 14:51] JounQin commented on #266
Without runnable reproduction, I can help to debug.

[2021-01-21 13:08] renovate[bot] opened #267 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: author, Invalid configuration option: commitlint, Invalid configuration option: eslintIgnore, Invalid configu

[2021-02-19 01:44] alexkrautmann commented on #266
@JounQin I came across this when looking for a solution to what I think is the same issue.

Minimal repro in this [code sandbox](https://codesandbox.io/s/youthful-keller-bj6c1). My actual config is much more complex, but I tried to reduce it down to the smallest repro possible. In this sandbox, you can run `yarn lint` from a terminal. Notice that the file `test-line-between.mdx` errors, but the fi

[2021-02-20 06:28] alexkrautmann opened #272 "`Parsing error: unknown jsx node` when newlines are between nested jsx nodes"
### Subject of the issue

When newlines exist between 2 nested jsx nodes, linting of the file fails with `Parsing error: unknown jsx node`.

### Your environment

*   **OS**: MacOS 10.15.7, CodeSandbox
*   **Packages**:
    * `eslint@7.20.0`
    * `eslint-plugin-mdx@1.8.2`
    * `eslint-plugin-react@7.22.0`
*   **Env**:
    * `node@14.15.5`, (10.23.0 in CodeSandbox)
    * `yarn@1.22.10`

### Steps

[2021-02-20 06:31] JounQin commented on #266
close in favor of #272

[2021-02-20 06:31] #266 closed

[2021-02-20 06:33] JounQin commented on #272
Thanks for your reporting, I can imagine that's caused by strict RegExp to match jsx node which does not allow leading space.

I'll try to resolve it when I'm free.

[2021-02-20 16:21] JounQin commented on #229
close due to inactive, welcome to PR instead

[2021-02-20 16:21] #229 closed

[2021-02-20 17:10] JounQin commented on #207
@satazor Sorry markdown `code` in jsx is not supported and not going to be possible in v1, but it should be possible in v2.

And I tried to fix part of this issue in #273. What means the following will be able to be parsed.

[code]

[2021-02-20 18:11] #272 closed

[2021-02-21 01:27] #207 closed

[2021-02-21 02:01] JounQin commented on #203
Cannot do much before ESLint changes.

[2021-03-01 15:27] iAdramelk opened #277 "`eslint-plugin-mdx@1.9.0` does not work with `@typescript-eslint/parser@4.15.2`"
Judging by [this part of the README](https://github.com/mdx-js/eslint-mdx#parser-options)  I assume that `eslint-plugin-mdx` should work with the `@typescript-eslint/parser`.

I use the following versions of the libraries:

- `@typescript-eslint/parser` – 4.15.2.
- `eslint` – 7.21.0.
- `eslint-plugin-mdx` – 1.9.0.
- `eslint-plugin-react` – 7.22.0. (Without this plugin I'm getting error `Definition

[2021-03-01 15:32] JounQin commented on #277
https://github.com/mdx-js/eslint-mdx/issues/251#issuecomment-736417801

[2021-03-01 15:32] #277 closed

[2021-03-01 15:34] JounQin commented on #277
PR welcome to improve the document.

[2021-03-01 15:38] JounQin commented on #147
Please enable remark-frontmatter manually

https://github.com/mdx-js/mdx/pull/1204/files

[2021-03-01 16:17] iAdramelk commented on #277
Understood, thank you!

[2021-03-02 12:45] JounQin opened #278 "[feature] add support for linting code blocks"
We can already get code blocks in `eslint-mdx`, so it should be possible to lint them by `eslint-plugin-mdx` itself.

A setting named `lintCodeBlocks: boolean` should be required.

Additional, we can reference `eslint-plugin-markdown`'s codes.

[2021-03-02 12:46] JounQin commented on #259
I just get an idea that we can already get code blocks by ourselves, so it should be possible to lint them by `eslint-plugin-mdx` itself.

What means we will never be compatible with `eslint-plugin-markdown`, but we can support code blocks.

It should not be difficult, I'll get started soon when I'm free.

see #278

[2021-03-05 08:34] LeBenLeBen opened #279 "Parsing error when a component is used within a markdown list"
### Subject of the issue

The following code:

[code]

Trigger an error on line 3:

[code]

Adding an empty line between the last two lines fixes the issue, but the rendered output is not the same. Also putting it all in a single line works, but it’s not "Prettier compliant" and gets reformatted on multiple lines. If the same code is placed at the root (not within a markdown list), it works as wel

[2021-03-05 09:04] JounQin commented on #279
Please provide a minimal runnable reproduction.

[2021-03-05 12:27] LeBenLeBen commented on #279
Here you go: https://github.com/LeBenLeBen/eslint-mdx-repro-279

[code]

[2021-03-05 16:30] JounQin commented on #279
@wooorm I tried to parse the following:

[code]

And logged `console.log(jsxNodes[0], this.combineLeftJsxNodes(jsxNodes))` at https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-mdx/src/traverse.ts#L117

And the log is following:

[code]

So it seems to be an issue of `remark-mdx`.

[2021-03-05 16:39] JounQin commented on #279
@LeBenLeBen Temporary workaround:

[code]

Sorry, I can't fix it easily due to `remark-mdx` itself. Let's wait for @wooorm's response.

[2021-03-05 17:19] JounQin commented on #279
@wooorm I have to do something like following, I don't know if it is as expected:

[code]

[2021-03-06 08:27] wooorm commented on #279
It’s at least fixed on main, and maybe on the last v2 beta.

[2021-03-06 08:52] JounQin commented on #279
I'm fine to start working on next version, but I'd like to fix this error on current stable version too. I want to confirm if my fix will always work, or, can you patch a fix on `remark-mdx@1` for the incorrect position info.

[2021-03-06 09:12] wooorm commented on #279
I do not know if your fix will always work, maybe?
And I'm personally not interested in patching v1. I rewrote the parsing in april and in november, solving tons of issues. I'm not interested in *again* fixing things I already fixed

[2021-03-11 07:44] #279 closed

[2021-03-11 08:12] JounQin commented on #279
@LeBenLeBen Please try `v1.9.1`

[2021-03-11 09:38] LeBenLeBen commented on #279
Perfect, it works now. Thank you for looking into this so quickly 💯

[2021-03-13 03:02] JounQin commented on #259
reopen in favor of https://github.com/eslint/eslint-plugin-markdown/pull/178 and https://github.com/mdx-js/eslint-mdx/pull/283

[2021-03-14 14:18] #259 closed

[2021-03-14 14:19] #278 closed

[2021-03-16 09:35] JounQin commented on #278
@chenxsan Please try v1.10.0 with settings `"mdx/code-blocks": true`, `"processor": "mdx/remark"` is configed automatically, don't use `"processor": "markdown/markdown"`.

[2021-03-17 04:03] chenxsan commented on #278
@JounQin Thanks for your work, I'll test it soon.

[2021-03-17 04:09] JounQin commented on #278
Due to an unreleased bugfix https://github.com/mdx-js/eslint-mdx/pull/285, you need to provide a `remark` config temporarily.

[2021-03-17 05:08] chenxsan opened #287 "warning `>` can be escaped with `&gt;`"
### Subject of the issue

Here's the content of a mdx file:

[code]

And the eslint configuration:

[code]
And here's the lint result:

[code]

### Your environment

*   **OS**:
*   **Packages**:
*   **Env**:

### Steps to reproduce

Here's the pull request https://github.com/webpack/webpack.js.org/pull/4326 you can use to reproduce:

1. clone the pull request
2. run `yarn` to install
3. run `yarn

[2021-03-17 17:48] #287 closed

[2021-03-17 21:47] codylindley opened #290 "1.10.0 update causes a "TypeError: Cannot read property 'config' of null""
When moving from 1.9.0 to 1.10.0 I get the error, `TypeError: Cannot read property 'config' of null` even when the .mdx file is completely empty.

[2021-03-17 21:54] ChristianMurphy commented on #290
https://github.com/mdx-js/eslint-mdx/pull/285

[2021-03-17 21:54] #290 closed

[2021-03-18 01:58] YutaUra commented on #290
https://github.com/mdx-js/eslint-mdx/pull/285#issuecomment-800883404

[2021-03-19 02:59] JounQin opened #292 "[bug] restored loc column is still incorrect when `startLine` is not 1"
https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-mdx/src/helpers.ts#L122-L130

[2021-03-20 00:49] #292 closed

[2021-03-20 04:53] chenxsan opened #294 "rebass is installed"
### Subject of the issue

One thing I noticed is that `rebass` is an [`optionalDependencies `](https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-plugin-mdx/package.json#L46), so yarn is going to install it whenever possible as per https://classic.yarnpkg.com/en/docs/dependency-types/, and it installs quite a lot of packages https://github.com/webpack/webpack.js.org/pull/4326/files#d

[2021-03-20 04:57] JounQin commented on #294
PR welcome to move it to root `package.json` as dev dep.

[2021-03-20 05:43] #294 closed

[2021-04-29 01:22] #203 closed

[2021-04-29 01:40] JounQin opened #308 "rule remark: should fix whole file at a time"
### Subject of the feature

Describe your issue here.

### Problem

If the feature requests relates to a problem, please describe the problem you are trying to solve here.

### Expected behavior

What should happen?  Please describe the desired behavior.

### Alternatives

What are the alternative solutions?  Please describe what else you have considered?

[2021-04-29 07:14] karlhorky commented on #203
Wow, this is great! Does this mean that the `validate-links` rule will be enabled again for Markdown / MDX?

Is there anywhere where we can follow along with this?

[2021-04-29 07:16] JounQin commented on #203
@karlhorky

Yes! You can try it with latest codesandbox build right now.

https://ci.codesandbox.io/status/mdx-js/eslint-mdx/pr/309/builds/125085

[2021-04-29 13:02] #308 closed

[2021-04-29 14:01] JounQin commented on #203
[v1.13.0](https://github.com/mdx-js/eslint-mdx/releases/tag/v1.13.0) has been released!

[2021-05-22 18:16] codejedi365 opened #312 "[6 High Vuln] Bump to remark-parse@9.0.0"
### Subject of the issue

Installation creates 6 high vulnerabilities within the project scope which can be avoided since there is a patched solution.

### Problem

The derived dependency on `trim@<=0.0.3` which has a high severity vulnerability specifically [Regular Expression Denial of Service](https://npmjs.com/advisories/1700).  This package is relied upon by `remark-parse@8.0.3` which is what

[2021-05-23 04:49] JounQin commented on #312
`remark-parse@9.0.0` is BREAKING CHANGE, its support is part of `eslint-mdx@2`.

duplicate of https://github.com/mdx-js/mdx/issues/1458, https://github.com/mdx-js/mdx/issues/1531, https://github.com/mdx-js/mdx/issues/1548, https://github.com/mdx-js/mdx/issues/1553

[2021-05-23 04:49] #312 closed

[2021-05-23 04:55] JounQin commented on #312
I don't know how to resolve it in `npm`, but for `yarn`, you can just try the following for now:

[code]

[2021-05-30 04:06] #267 closed

[2021-07-10 10:04] JounQin opened #323 "[perf] Create syncFn lazily"
Loading worker is slow, do not use it if unnecessary.

https://github.com/rx-ts/synckit/blob/main/benchmarks/benchmark.txt

[2021-07-10 13:51] #323 closed

[2021-08-09 05:28] chenxsan opened #331 "`'` can be escaped with `&apos;`, `&lsquo;`, `&#39;`, `&rsquo;`."
### Subject of the issue

Using `'` in javascript code block inside mdx shows an error as the title:

<pre>
&lt;div>
[code]
&lt;/div>
</pre>

<img width="913" alt="" src="https://user-images.githubusercontent.com/1091472/128655411-18c0286e-6d03-4cdd-9118-fa09ffb31553.png">

### Your environment

*   **OS**:
*   **Packages**:
*   **Env**:

### Steps to reproduce

1. Clone code from https://github.c

[2021-08-09 06:26] JounQin commented on #331
See https://github.com/mdx-js/eslint-mdx/issues/207#issuecomment-782716731

Short answer, it can not be fixed in `eslint-plugin-mdx@v1`, and I don't have time to work on v2 temporarily.

Workaround:

[code]

[2021-08-09 06:41] JounQin commented on #331
Or:

[code]

[code]

[2021-08-09 06:41] #331 closed

[2021-08-09 10:15] chenxsan commented on #331
Yeah, this is how I work around it at the moment.

[2021-08-11 08:03] KevinGhadyani-minted opened #332 "Doesn't work with a complex system of layered ESLint configs"
### Subject of the issue

I have a bunch of ESLint plugins and want to add this MDX one to the mix. Sadly, it seems my other plugins all interfere with each other.

The other library has these plugins:
[code]

It appears that some like `putout` aren't specific to `.js` files; therefore, they'll run on MDX files.

This is the ESLint config I settled on:
[code]

### Your environment

*   **OS**: Win

[2021-08-11 08:47] KevinGhadyani-minted opened #333 "[feat] support pass through custom remark config in eslint config"
### Subject of the issue

The Remark config is only seen if it's local to the app running ESLint, not an ESLint config package that included `eslint-plugin-mdx`.

A possible solution is accepting a custom Remark config rather than letting eslint-mdx determine where the config exists.

### Your environment

*   **OS**: Windows 10 64-bit.
*   **Packages**: `"eslint-plugin-mdx": "^1.14.1"`.
*   **Env

[2021-08-11 10:22] JounQin commented on #333
Please provide a minimal reproduction.

[2021-08-11 10:25] JounQin commented on #332
Please provide a minimal reproduction, the issue content does not help much.

[2021-08-12 01:46] KevinGhadyani-minted commented on #332
I don't have time to make a reproduction. Closing the issue.

[2021-08-12 01:46] #332 closed

[2021-08-12 01:51] KevinGhadyani-minted commented on #333
Can you add an option to pass in a custom Remark config rather than using the `cosmiconfig`?

I have an `eslint-config-A` package being imported in to `app-X`. I want the Remark config to be in `eslint-config-A`, not `app-X`.

`cosmic` config only looks in `app-X` for the `.remarkrc.js`, not in `eslint-config-A`.

I'm sharing `eslint-config-A`, and want strict control over the Remark config. In no

[2021-08-12 02:42] JounQin commented on #333
Considering `.remarkrc.js` is the standard way of `remark`, I don't think we should support that.

I'm always using something like

[code]

But if you want to raise a PR to support it, we can give it a try.

[2021-08-12 02:46] KevinGhadyani-minted commented on #333
Ok, that makes sense. So there _is_ a way to get a custom Remark config. The way I'd do it is by creating a separate Remark library and importing it in to my `eslint-config-A` library. Makes sense.

Closing!

[2021-08-12 02:46] #333 closed

[2021-08-12 03:22] JounQin commented on #333
That won't work AFAIK, it's just similar like your current workaround, you need to add it in pwd.

[2021-08-12 22:35] KevinGhadyani-minted commented on #333
Oh yeah, good point. Darn...

[2021-08-15 04:27] chenxsan opened #334 "Parsing error: Unexpected token, expected "}""
### Subject of the issue

Here's the content of a mdx file:

<pre>
&lt;div>
  &lt;img />
&lt;/div>

[code]
</pre>

And eslint would report an error shown below:

<img width="605" alt="error" src="https://user-images.githubusercontent.com/1091472/129466985-5581961f-a6b8-4a9a-96cb-b4368555f1be.png">

Now if I prepend a paragraph, e.g.,

<pre>
hello world.

&lt;div>
  &lt;img />
&lt;/div>

[code]
</p

[2021-08-15 05:13] JounQin commented on #334
Thank you, I can reproduce it locally.

[2021-08-15 05:44] JounQin commented on #334
@chenxsan Please try

[code]

[2021-08-15 06:36] chenxsan commented on #334
@JounQin Works fine now.

[2021-08-17 12:57] #334 closed

[2021-08-21 01:07] chenxsan opened #336 "frontmatter is targeted"
### Subject of the issue

Say I have a MDX file with this frontmatter:

<pre>
---
title: Code Splitting
related:
  - title: &lt;link rel="prefetch/preload" > in webpack
    url: https://medium.com/webpack/link-rel-prefetch-preload-in-webpack-51a52358f84c
---
</pre>
Note that the `<link >` was not closed.

Now eslint would report `Parsing error: Expected corresponding JSX closing tag for <link>`. W

[2021-08-21 01:14] JounQin commented on #336
`mdx` is `jsx` like.

[2021-08-21 01:24] chenxsan commented on #336
I'm not familiar with all those remark/eslint stuffs.

But as far as I know, the frontmatter would be transformed into something like:

[code]
Does it really make sense to lint that part?

[2021-08-21 01:41] JounQin commented on #336
That would depend on `remark-frontmatter`'s behavior.

@wooorm Will the following work as same as above?

[code]

[2021-08-21 03:04] atesgoral commented on #336
Shouldn't the frontmatter be preprocessed and put aside as metadata before the JSX parser is unleashed on the rest of the document?

[2021-08-21 03:15] JounQin commented on #336
I'm not familiar with frontmatter, let's wait @wooorm to clarify first. Personally, I don't want to add specific logic for a specific plugin.

If you have any good thought, welcome to PR to preview first.

[2021-08-21 06:00] wooorm commented on #336
Frontmatter, often in YAML, is frequently used in combination with markdown/MDX: https://github.com/wooorm/xdm#frontmatter. While ESM import/exports are powerful, frontmatter is static: it can be access without compiling and evaluating the file.
GitHub, prettier, and many blog platforms support it. [mdx-bundler does, too](https://github.com/kentcdodds/mdx-bundler#frontmatter-and-const).

---

Not

[2021-08-21 06:10] JounQin commented on #336
@wooorm

It is using `remark@13` at AST explorer, which is not supported by `eslint-mdx` currently.

My test case is `remark-frontmatter@2`, is this related?

[2021-08-21 06:16] wooorm commented on #336
I believe `remark-frontmatter@2` works with `remark@12`. `remark-frontmatter@3` and `remark-frontmatter@4` work with `remark@13` and `remark@14`? 🤔

[2021-08-21 07:05] JounQin commented on #336
@wooorm I mean will the parsed AST be same between `remark-frontmatter@2` vs `remark-frontmatter@3/4`?

[2021-08-21 07:06] wooorm commented on #336
Yes, the AST is the same with `remark-frontmatter` 1 through 4, and most likely all future versions as well. The MDX AST did you change. But I do not see that change interfering with frontmatter.

[2021-08-21 07:08] JounQin commented on #336
Does the plugins order matter? In `eslint-mdx` use `remark-mdx` first then other user customed plugins.

[2021-08-21 07:56] JounQin commented on #336
@chenxsan Please try `yarn add -D https://pkg.csb.dev/mdx-js/eslint-mdx/commit/478660c5/eslint-plugin-mdx`

[2021-08-21 08:49] chenxsan commented on #336
![image](https://user-images.githubusercontent.com/1091472/130316417-151673b5-0b28-4c9d-8418-4ab22ee756fd.png)

I'm still getting the error.

[2021-08-21 09:02] JounQin commented on #336
Did you add `remark-frontmatter@2` in your remark config?

[2021-08-21 09:40] chenxsan commented on #336
Oops, I just noticed that I have to set`remarkConfig` in `package.json`. Yes, it works with `remark-frontmatter@2`, but not with v3.

[2021-08-21 09:51] JounQin commented on #336
@chenxsan

See https://github.com/mdx-js/eslint-mdx/issues/336#issuecomment-903066561, `remark-frontmatter@2` is required.

[2021-08-21 09:55] #336 closed

[2021-08-23 19:04] spaceninja opened #338 "eslint-mdx appears incompatible with remark-lint plugins that are esm-only"
### Subject of the issue

I have a design system repo running Storybook MDX files. I followed their [linter-config](https://github.com/storybookjs/linter-config) example, which involves installing the MDX plugin for ESLint and a remark config running the recommended config.

I recently got a [Renovate PR to update remark-preset-lint to v6](https://github.com/MLTSHP/mltshp-patterns/pull/533).

The

[2021-08-24 01:38] JounQin commented on #338
1. Native esm is not supported by ESLint yet
2. `eslint-mdx` is not compatible with latest `remark` (`remark-mdx@2`)

The first limitation may be fixed by refactored wrapping by `synckit` + `import()`, but it requires a lot of work, I'm not sure whether it is worth due to (2.

[2021-08-25 01:41] codejedi365 opened #339 "Regression of stable/reliable run since v1.12"
### Subject of the issue

Semver Minor upgrades have made functionality & performance worse over the last four versions.  Yesterday, I went to run the linter after trashing `package-lock.json` and re-installing the updates, I found `npm run lint` hitting a runtime error.  I incrementally rolled back the updates and found none of the latest versions are stable or working well.

In summary I found:

[2021-08-25 02:05] JounQin commented on #339
Please try to use `"plugin:mdx/recommended"` and its settings in `overrides` firstly .

See https://github.com/mdx-js/eslint-mdx#notice

[2021-08-25 03:18] JounQin commented on #339
[code]

[2021-08-25 03:18] #339 closed

[2021-08-25 03:22] JounQin commented on #339
![image](https://user-images.githubusercontent.com/8336744/130721131-002f81ee-d19f-4833-831d-d6da3ec27798.png)

[2021-08-29 15:31] codejedi365 commented on #339
Glad to see this resolution opened since it would of been helpful to see the error from `@typescript-eslint/parser` for my debugging of the configuration.

Separately, I looked into these links/recommendations and found a better solution:

There were 2 parts to my solution:
1. `excludedFiles` was necessary to differentiate the regular TS files from the virtual filenames for markdown-code-blocks.
2

[2021-08-30 01:34] JounQin commented on #339
Yes, you're separating code blocks and normal physical `.ts` files now.

[2021-08-30 08:26] renovate[bot] opened #340 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): update dependency type-coverage to ^2.18.1
 - [ ] fix(deps): update dependency cosmiconfig to ^7.0.1
 - [ ] fix(deps): update depend

[2021-11-01 22:08] bencmbrook opened #356 "Parsing error: Cannot use 'in' operator to search for 'ast' in undefined"
### Subject of the issue

When using eslint-mdx, I get the following error (full stack trace collapsed below):

<img width="726" alt="Screen Shot 2021-11-01 at 3 02 12 PM" src="https://user-images.githubusercontent.com/7354176/139747950-098ea7cc-cac1-421b-8e0e-3b402e04203a.png">

<details>
<summary>`eslint --debug` full stack trace</summary>

[code]
</details>

This points to `program` being undef

[2021-11-02 00:34] JounQin commented on #356
Please provide a minimal and runnable reproduction.

[2021-11-05 07:56] bencmbrook commented on #356
here's the repro. it starts throwing this error when Yarn PnP is used.

https://github.com/bencmbrook/mdx-bug

[code]

[code]

[code]

✖ 1 problem (1 error, 0 warnings)

[2021-11-05 09:18] JounQin commented on #356
Sorry, I'm not familiar with yarn pnp and don't know how to debug original node_modules inside. And reference how to debug your error?

[2021-11-05 09:34] JounQin commented on #356
After `yarn unplug`, I found:

This is caused by `tried to access espree, but it isn't declared in your dependencies; this makes the require call ambiguous and unsound.`

The current workaround is `yarn add -D espree` (or `@babel/eslint-parser`, etc, else)

And use `.eslintrc.js` like

[code]

Why? ES syntaxes like `import` require a correct parser

See also https://github.com/mdx-js/eslint-mdx#pa

[2021-11-05 16:27] bencmbrook commented on #356
Thank you @JounQin - that's helpful. What's odd is I'm using typescript and imports are working outside of MDX, but I'll try out `espree`!

As for debugging PnP, [VSCode ZipFS](https://marketplace.visualstudio.com/items?itemName=arcanis.vscode-zipfs) can be helpful to explore the node modules (which are under `.yarn/cache/{package}.zip`)

[2021-11-06 05:15] JounQin commented on #356
https://github.com/bencmbrook/mdx-bug/blob/main/test.mdx?plain=1#L1

This is ES syntax in `.mdx` (import statement).

[2021-11-09 05:09] jackkrone commented on #92
Could you share your full eslintrc setup? When I use your solution I get the same eslint error in all of my mdx files: `Parsing error: Expression expected`

[2021-11-09 05:48] jackkrone commented on #251
@scscgit to answer your question: yes that's what you need to do. If it doesn't work, perhaps also install eslint-mdx and specify it as the parser in the overrides settings.

If you are using typescript and specifically the plugin

then you will need to add a second object to the `overrides` array with the following:
[code]
In doing so, be sure to remove `"plugin:@typescript-eslint/recommended-req

[2021-11-09 05:54] JounQin commented on #92
@jackkrone You'd better provide your reproduction instead.

[2021-11-09 06:12] jackkrone commented on #92
@JounQin Sure. I just figured it out, as indicated in https://github.com/mdx-js/eslint-mdx/issues/251#issuecomment-963837780

This is what my `overrides` array looks like in eslintrc:
[code]

I've found that this is required if using the `@typescript-eslint/parser` and the `@typescript-eslint/recommended-requiring-type-checking` plugin

[2021-12-13 12:01] Mnigos opened #361 "When I'm linting got this error: `Parsing error: Invalid character`"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2021-12-13 14:02] JounQin commented on #361
See https://github.com/mdx-js/eslint-mdx#notice

And please provide a minimal and runnable reproduction next time.

[2021-12-13 14:02] #361 closed

[2022-01-05 09:36] PaulTondeur opened #366 "Parsing error when parserOptions.ecmaVersion is not set"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-01-05 13:42] JounQin commented on #366
Please provide a runnable reproduction.

There is a default `ecmaVersion` for parsing at https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-mdx/src/parser.ts#L48

[2022-01-05 13:51] PaulTondeur commented on #366
What else would you like to have to reproduce? As detailed above with the basic eslint config. All that might be missing is another simplest mdx file with an import or jsx code.

[2022-01-06 00:07] JounQin commented on #366
A demo GitHub repository for example.

[2022-01-13 07:34] lpsinger opened #367 "`Parsing error: unknown jsx node` when newlines are between nested jsx nodes AND there are JavaScript statements in the file (follow-up to #272)"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-02-01 11:51] 01taylop opened #370 "Upgrade `remark-parse` dependency in `eslint-mdx`"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-02-01 11:54] JounQin commented on #370
duplicate of #312

[2022-02-01 11:54] #370 closed

[2022-02-11 06:00] vaibhavshn commented on #367
Same error occurs for me when I use `md` inside JSX nodes.

Example:

[code]

And if I remove the codeblock inside the component, the error goes away.

![image](https://user-images.githubusercontent.com/6205961/153544264-36d65a3c-a8de-4dea-b740-a98f886cabc2.png)

`Parsing error: unknown jsx node: "<Tabs\n  groupId=\"android-language\"\n  defaultValue=\"kotlin\"\n  values={[\n    { label: 'Kotlin',

[2022-02-15 19:41] trevorblades opened #371 "Code block with curly braces within JSX causes parsing error"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-03-06 00:18] lucasvazq commented on #338
For now, you can define a custom config file and run `remark-lint` through the terminal using that config.

[code]

<details><summary><code>my_custom_remark_config.yml</code></summary><blockquote>

[code]
</blockquote></details>

**:rotating_light: You can't use the [default config paths](https://www.npmjs.com/package/remark-cli#example-config-files-json-yaml-js) that remark uses.**
For example, y

[2022-03-06 03:09] lucasvazq commented on #338
I opened an PR: https://github.com/mdx-js/eslint-mdx/pull/374
If it's accepted, you can keep your remark-lint plugins and just add `remark **/*.mdx --no-stdout` to your eslint pipeline.

[2022-03-18 00:02] hisapy commented on #366
Hi everyone,

In my case I ended up with the following `.eslintrc.json` config:

[code]

What I added for mdx is in overrides.

I had to add *.md in files because `#` was being reported as invalid character in VSCode

[2022-03-26 10:10] andrewplummer opened #375 "Parsing extremely slow in specific case."
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-03-27 18:51] JounQin commented on #375
[code]

Please help us to test the fresh new version.

[2022-03-27 18:51] JounQin commented on #366
[code]

Please help us to test the fresh new version.

[2022-03-27 18:51] JounQin commented on #338
[code]

Please help us to test the fresh new version.

[2022-03-27 18:52] JounQin commented on #367
[code]

Please help us to test the fresh new version.

[2022-03-27 18:52] JounQin commented on #371
[code]

Please help us to test the fresh new version.

[2022-03-27 18:52] JounQin commented on #356
[code]

Please help us to test the fresh new version.

[2022-03-27 18:53] JounQin commented on #204
[code]

Please help us to test the fresh new version.

[2022-03-27 18:54] JounQin commented on #183
Parsing is relied on `remark-mdx` totally now in v2.

[2022-03-27 18:54] #183 closed

[2022-03-28 15:25] #338 closed

[2022-03-28 15:25] #204 closed

[2022-03-28 15:25] #356 closed

[2022-03-28 15:25] #367 closed

[2022-03-28 15:25] #371 closed

[2022-03-28 16:09] andrewplummer commented on #375
Just tried it out, I'm seeing various other errors like `xxx is defined but never used` and interop with imports plugin but ignoring that as it might require extra config.

The performance issue seems to be fixed though! 👍

[2022-03-28 21:21] #375 closed

[2022-04-05 08:18] jlarmstrongiv opened #378 "/README.md 1:4 error Parsing error: Missing semicolon. (1:4)"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-04-05 08:30] JounQin commented on #378
Please provide a correct reproduction.

[2022-04-05 08:30] jlarmstrongiv commented on #378
@JounQin Can you provide an email to send it to?

[2022-04-05 08:33] JounQin commented on #378
@jlarmstrongiv Please use GitHub repository for a minimal reproduction, we don't want a complicated one.

[2022-04-05 08:34] jlarmstrongiv commented on #378
Sorry, I am unable to provide a reproduction at this time.

[2022-04-05 08:34] #378 closed

[2022-04-05 11:27] JounQin commented on #378
@jlarmstrongiv See https://github.com/mdx-js/eslint-mdx#notice

[2022-04-05 23:49] jlarmstrongiv commented on #378
Was able to make a reproduction for most monorepo errors after returning home https://github.com/jlarmstrongiv/eslint-mdx-reproduction but your link got me on the right track and fixed it 👍 unfortunately, I could never get it to work with keystonejs

[2022-04-06 15:39] EugeneNikulnikov opened #379 "Nested tag wrapped with backquotes drops the parsing error"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-04-07 00:57] JounQin commented on #379
Please try latest `v2.0.0.next.1`

[2022-04-07 05:44] JounQin opened #380 "[v2] incorrect comment loc info"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-04-07 05:48] JounQin commented on #380
@wooorm Do you have any idea? The `node` is `unist Node` from `remark-*` at https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-mdx/src/parser.ts#L89

The worst thing is the wrong comment loc may block ESLint process(I didn't find out why yet).

[2022-04-07 06:35] JounQin opened #381 "[v2] acorn thrown content in table even with `remark-gfm`"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-04-07 06:35] JounQin commented on #381
cc @wooorm

[2022-04-07 06:44] JounQin commented on #381
If it is intended in mdx, feel free to close it. @wooorm

[2022-04-07 08:31] wooorm commented on #380
- any reason you’re not on a stable v2?
- parsing of each “chunk” of JS-in-markdown happens from 1:1, and then a starting position as added onto it, I guess this is happening for nodes, but not for comments, here: https://github.com/micromark/micromark-extension-mdx-expression/blob/3d988bc4d5db5fbafb4cf5f719e66c25994bfb3f/packages/micromark-util-events-to-acorn/dev/index.js#L148-L187

[2022-04-07 08:35] wooorm commented on #381
This is (likely) intended, yes! See: https://mdxjs.com/docs/troubleshooting-mdx/#could-not-parse-expression-with-acorn-error

[2022-04-07 08:35] JounQin commented on #380
`2.0.0.next.1` is `eslint-mdx`

So this is a known issue? Are you going to fix it?

[2022-04-07 08:35] #381 closed

[2022-04-07 08:44] wooorm commented on #380
I can imagine it being a problem.
And if it’s an issue for you, then it’s now a known problem :)

Do you want to investigate? It might be useful for the future to get your hands at micromark-extension-mdx*?
But: I don’t mind doing it either, it’s probably faster if I do it!

[2022-04-07 08:58] JounQin commented on #380
OK, I will give it a try today.

[2022-04-07 10:15] JounQin commented on #380
@wooorm See https://github.com/micromark/micromark-extension-mdx-expression/pull/2

[2022-04-08 09:44] wooorm commented on #380
Perhaps you can make a small reproduction of this problem?

[2022-04-18 06:05] JounQin commented on #380
@wooorm See https://github.com/JounQin/test/tree/mdx-loc

branch `mdx-loc`, simply run `npm test` to see comments loc info.

[2022-04-18 07:22] wooorm commented on #380
The first comment is correct, I believe?
Do you have a problem with the second comment?

[2022-04-18 07:28] wooorm commented on #380
Something fishy going on, because the earlier value affects the second comment:

[code]

[code]

---

[code]

[code]

[2022-04-18 13:16] JounQin commented on #380
Should the `column` of `unified` node be `1`-indexed? (`acorn`'s is `0`-indexed).

This is how `storybook` works.

[2022-04-18 14:36] wooorm commented on #380
I’m not sure how I came up with the previous logic. I made a little algorithm locally that works and is much simpler. I’ll have to make the code pretty and add test it all, but should have it ready soon!

[2022-04-18 15:56] wooorm commented on #380
Solved in https://github.com/micromark/micromark-extension-mdx-expression/releases/tag/micromark-util-events-to-acorn%401.0.5!

[2022-04-19 00:23] JounQin commented on #380
@wooorm

[code]

[code]

[2022-04-19 13:45] wooorm commented on #380
done

[2022-04-20 02:48] JounQin opened #384 "[v2] `no-unused-expressions` in jsx content"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-04-20 15:13] wooorm commented on #384
I don’t understand the problem yet 🤔 What’s the input, and actual/expected output?

[2022-04-20 15:51] JounQin commented on #384
Like described in #380,

[code]

The `{ template: '' }` results `no-unused-expressions` error for now which should be unexpected.

[2022-04-21 08:19] wooorm commented on #384
Ah okay, that’s not a bug in MDX!

[2022-04-21 08:52] #380 closed

[2022-04-27 08:51] JounQin commented on #384
@wooorm Like `comments`, do you think is there any possible to get `tokens` with correct `loc`? I'm using `acornOptions#onToken` now, but obviously their locations are incorrect. 🤣

See https://github.com/JounQin/test/blob/mdx-loc/index.js as reproduction.

[2022-04-27 10:34] wooorm commented on #384
Yeah, we could do it: we could support `onComment` and `onToken` as arrays/functions (although I still see no reason to support `onComment`, but we could, and it makes more sense to have it if we support `onToken`).

If someone passes an array/function, we’d pass *a different* function, which fixes the position, and then adds the result to the given array or calls the given function?

[2022-04-27 15:37] JounQin commented on #384
Yeah, that's what I'm thinking.

I have a simple thought on how to implement the basic function and it's working:

[code]

What do you think? If you agree, I'd like to continue on https://github.com/micromark/micromark-extension-mdx-expression/pull/4

[2022-04-28 13:04] JounQin commented on #379
close due to inactive

[2022-04-28 13:04] #379 closed

[2022-05-06 11:14] B2o5T opened #388 "Does it possible to lint React components in mdx files?"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-05-06 13:16] JounQin commented on #388
Please provide a minimal and runnable reproduction.

[2022-05-06 14:55] r-hede opened #389 "Parsing error on Windows"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-05-06 14:59] JounQin commented on #389
Please provide reproduction...

[2022-05-06 15:52] r-hede commented on #389
I can't send you a reproduction on `codesandbox` or `stackblitz` because you have to be on a `Windows environment` to reproduce the error.

Here is the files : https://github.com/r-hede/eslint-mdx-parsing-error-on-windows

[2022-05-06 16:55] B2o5T commented on #388
It's possible, at first I was confused `overrides` configuration.

[2022-05-06 16:55] #388 closed

[2022-05-06 17:02] B2o5T commented on #388
Btw you should keep the line order of errors, note that errors from `mdx` file come first than the error from `js` code block, but I expected to see first errors from line 4 and after from line 7 and not viceverca

[code]

[code]

[2022-05-06 23:56] JounQin commented on #388
The order seems making sense, PR welcome to reorder them correctly at https://github.com/mdx-js/eslint-mdx/blob/fd18bed8374e23d64128481c9b17afefee5164ba/packages/eslint-plugin-mdx/src/processors/remark.ts#L29

[2022-05-07 01:44] JounQin commented on #389
@r-hede Can you add `GitHub Actions` with Windows? I don't have Windows machine.

[2022-05-07 02:40] JounQin commented on #389
This could be an issue from [`synckit`](https://github.com/rx-ts/synckit/blob/main/src/index.ts#L168), I'll take a look.

[2022-05-07 03:39] JounQin commented on #389
@r-hede

[code]

Can you try a new version of `synckit`?

[2022-05-07 11:49] B2o5T opened #391 "Unable to lint MDX components in `2.0.0-next.2`"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-05-07 13:39] JounQin commented on #391
Should be related to https://github.com/mdx-js/eslint-mdx/issues/384#issuecomment-1110737802, waiting for micromark/micromark-extension-mdx-expression#4.

[2022-05-08 10:04] JounQin commented on #389
@r-hede

Please try

[code]

It should work now, I've tested on a Windows VM.

[2022-05-09 14:36] #389 closed

[2022-05-11 10:29] wooorm commented on #391
micromark is released!

[2022-05-11 10:56] JounQin commented on #391
I created #393 to make sure, after upgrading `micromark-util-events-to-acorn`, it works as expected.

@B2o5T Please upgrade it by yourself by deleting `yarn.lock`, etc.

[2022-05-11 11:26] JounQin commented on #384
@wooorm It seems jsx tokens are not presented in `acorn#tokens`:

[code]

[code]

[2022-05-11 11:34] wooorm commented on #384
Those are handled by MDX. Not by Acorn. `acorn#tokens` represents what acorn parses. Not what MDX parses

[2022-05-11 11:41] JounQin commented on #384
So it seems I need to transform `mdxJsxFlowElement` into token by myself then.

[2022-05-11 11:44] wooorm commented on #384
You can do that.
It depends on what you want to do and how far you want to take it.
Do you want to act as if paragraphs and block quotes were written as a JS form?
There are some small differences between MDX and JSX. And between JSX in MDX and JSX in JS.

[2022-05-11 11:48] JounQin commented on #384
Personally, I'd like to only add least and necessary tokens for `mdxJsxFlowElement/mdxJsxAttribute/mdxJsxAttributeValueExpression`.

[2022-05-11 11:52] JounQin commented on #384
For

[code]

The `Fragment` and `div` are not in tokens neither.

[2022-05-11 11:56] B2o5T commented on #391
@JounQin upgraded but the issue was not solved even on the latest `micromark-util-events-to-acorn@1.1.0`

info from yarn.lock
[code]

[2022-05-11 12:03] JounQin commented on #391
Oh, should also be related to https://github.com/mdx-js/eslint-mdx/issues/384#issuecomment-1123625050

The jsx tokens are not available for now.

[2022-05-11 12:34] wooorm commented on #384
Yes, because they're still MDX. Not JS.
JavaScript in MDX only exists in braces or as import/exports. Acorn is only used for that JavaScript.

[2022-05-11 12:41] JounQin commented on #384
That's OK. I'll transform them manually.

[2022-05-13 13:08] r-hede commented on #389
Sorry for the delay, I was also able to test on Windows and I confirm that it works correctly.

Do you plan to release a new version including this fix?

[2022-05-13 13:27] JounQin commented on #389
@wooorm A new next version is ready.

[2022-05-13 14:21] JounQin commented on #391
@B2o5T Besides, the two rules are disabled for mdx content in the recommended config at https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-plugin-mdx/src/configs/overrides.ts#L23-L35, that's why I can't reproduce it at #393

[2022-05-14 05:55] JounQin commented on #391
Close because duplicate of #384

[2022-05-14 05:55] #391 closed

[2022-05-14 06:03] JounQin commented on #384
This issue is not easy to fix as I thought, not only tokens are missing(I've added them back locally), the AST are also mismatched.

[code]

The AST from `remark-mdx` is:

[code]

And compare with [acorn](https://astexplorer.net/#/gist/a7490c4b6a901c86a2f505bc839ceb20/013168d54d68f41013456eb302f511e5b2890bbb) itself, they are very different, because `remark-mdx` treat the nested `ObjectExpression`

[2022-05-14 12:05] JounQin commented on #391
@B2o5T

Please try:

[code]

[2022-05-14 12:14] B2o5T commented on #391
@JounQin Thank you! it's works 😍
[code]

[2022-05-14 14:19] wooorm commented on #384
Both are `ObjectExpression`. In MDX and in Acorn. I don’t understand what you expected?

[2022-05-14 14:24] JounQin commented on #384
`Story` is not in the estree AST. I have read them from mdast and transform them manually, like https://github.com/mdx-js/eslint-mdx/pull/394/files#diff-28c9951bdd4b9fbbb77321aec606c4ec820dc169ca472ad8991aa553bc4283baR374

[2022-05-14 14:33] wooorm commented on #384
Yeah. Indeed. Because those JSX tags are part of what MDX parses itself.
It’s parsed *together* with markdown things. Otherwise interleaving would be impossible.

[2022-05-14 14:35] wooorm commented on #389
Now? Or do you first want to land the other PR?

[2022-05-14 14:38] JounQin commented on #389
Let's wait for the other PR.

[2022-05-14 14:39] JounQin commented on #384
Luckily, I transformed them manually successfully. 😉

[2022-05-14 14:56] JounQin opened #395 "Add more test cases for MDX v2"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-05-14 15:01] #384 closed

[2022-06-12 15:41] gyanta opened #400 "mdx files are linted as markdown if the first processed file is not mdx"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-06-12 15:52] JounQin commented on #400
Nice catch, a workaround is adding a `.remarkrc` file for now.

[2022-06-12 23:37] #400 closed

[2022-06-26 15:22] JounQin commented on #366
Close in favor of #402, wait for a release from `release-v1` branch @wooorm.

[2022-06-26 23:12] frankandrobot opened #403 "Parsing error: visit is not a function"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-06-26 23:21] JounQin commented on #403
A minimal reproduction is required.

[2022-06-26 23:47] JounQin commented on #403
Please remember, we're using our free time to support OSS, a minimal reproduction is a basic respect for us so that we don't waste to reproduce.

A GitHub repository or fork this repository and PR with a failing test will save time both of us.

[2022-06-26 23:51] JounQin commented on #403
Like https://github.com/privatenumber/get-tsconfig/pull/19, you can add a test case at https://github.com/mdx-js/eslint-mdx/tree/master/test/fixtures

If it can't be reproduced this way, then a GitHub repository minimal reproduction is required.

[2022-06-26 23:52] JounQin commented on #403
close for now, feel free to comment if you provide reproduction correctly.

[2022-06-26 23:52] #403 closed

[2022-06-27 13:12] Manubi commented on #403
I do get the same error: `Parsing error: visit is not a function eslint`
<img width="906" alt="CleanShot 2022-06-27 at 15 12 10@2x" src="https://user-images.githubusercontent.com/20935138/175949788-27108af4-eec1-427d-8da6-738315bf0e25.png">

[2022-06-27 21:27] JounQin commented on #403
Again, please provide a runnable reproduction instead of just screenshots. That doesn’t help anything.

[2022-06-27 21:31] JounQin commented on #403
Just guessing, it should be related to different version of `unist-util-visit` installed, it can be added into `package.json`.

[2022-06-28 00:20] sudosilico opened #404 "Parsing error: visit is not a function"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-06-28 00:44] JounQin commented on #404
Thanks for reproduction, I'll take a look soon.

[2022-06-28 02:00] JounQin commented on #404
https://github.com/mdx-js/eslint-mdx/issues/403#issuecomment-1167926793 same problem

workaround `yarn add -D unist-util-visit vifile`

I'll raise a PR to fix it soon.

[2022-06-28 02:00] JounQin commented on #403
workaround `yarn add -D unist-util-visit vifile`

I'll raise a PR to fix it soon.

[2022-06-28 02:19] JounQin commented on #404
@sudosilico Please try for testing https://ci.codesandbox.io/status/mdx-js/eslint-mdx/pr/405/builds/265745

[2022-06-28 02:39] JounQin commented on #404
I can confirm it's working as expected now:

[code]

[2022-06-28 02:40] #404 closed

[2022-06-28 02:45] #366 closed

[2022-06-28 02:46] JounQin commented on #403
Please try for testing [ci.codesandbox.io/status/mdx-js/eslint-mdx/pr/405/builds/265745](https://ci.codesandbox.io/status/mdx-js/eslint-mdx/pr/405/builds/265745)

[2022-06-28 02:46] JounQin commented on #403
I can confirm it's working as expected now:

[code]

[2022-06-28 03:29] JounQin commented on #403
Sorry, it's `vfile`.

[2022-08-31 16:45] tmpduarte opened #420 "Parsing error: Expected value to be truthy"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-08-31 19:48] rexkenley opened #421 "ESlint: Error while loading rule"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-08-31 20:59] JounQin commented on #421
Duplicate of https://github.com/mdx-js/eslint-mdx/issues/251#issuecomment-963837780

Always use overrides for every kind of files.

[2022-08-31 20:59] #421 closed

[2022-08-31 21:02] JounQin commented on #420
Thanks for reproduction, I'll check later.

[2022-08-31 21:49] JounQin commented on #420
See https://github.com/tmpduarte/eslint-mdx-visit-issue/pull/1

1. You're using `eslint-plugin-mdx@2.0.0`, but you tricked to say the affected version was `2.0.2`
2. See also https://github.com/webpack/webpack.js.org/pull/6297#issuecomment-1195469561 and https://github.com/webpack/webpack.js.org/pull/6301

[2022-08-31 21:49] #420 closed

[2022-08-31 21:54] JounQin commented on #420
@wooorm Do you have any idea that how can we ensure same `acorn` and `acorn-jsx` versions between `eslint-mdx` vs [micromark-extension-mdxjs](https://github.com/micromark/micromark-extension-mdxjs/blob/main/package.json#L36-L37)? Will an optional peer dependency declaration of `micromark-extension-mdxjs` work?

[2022-09-01 01:30] rexkenley commented on #421
@JounQin

So in essence the extends should be "empty"?

[2022-09-01 07:54] wooorm commented on #420
`micromark-extension-mdxjs` takes `acorn` as an instance: https://github.com/micromark/micromark-extension-mdxjs#optionsacorn.

[2022-09-01 08:38] JounQin commented on #420
@wooorm If I didn't remember wrong, `acorn` is referenced from `remark-mdx`, but `remark-mdx` doesn't provide an `acorn`/`acornJsx` options.

[2022-09-01 08:47] wooorm commented on #420
And it accepts options.
You can pass the acorn version you want.

[2022-09-01 08:50] JounQin commented on #420
OK then, I think I can give it a try tonight.

[2022-09-01 09:37] tmpduarte commented on #420
@JounQin thank you very much for taking a look a this 🙏

There might have been a confusion.
The [link](https://github.com/tmpduarte/eslint-mdx-visit-issue/tree/issue/expected-value-to-be-truthy) I posted on the description is for a specific branch that has the version `2.0.2` as well as the MUI button in the storybook story, and that's where the problem happens.

The main branch, used to replicate

[2022-09-04 15:17] TxHawks commented on #420
I'm also getting this with version 2.0.3, node v16.13.2 and pnpm v7.9.5

[2022-09-04 15:40] JounQin commented on #420
Please provide a minimal but runnable reproduction in a new issue then.

[2022-09-12 11:09] enqueue opened #427 "preset-prettier integration broken after update of remark-preset-prettier to 2.0.0"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-09-12 11:12] JounQin commented on #427
Thanks for reproduction, I'll check soon.

[2022-09-12 12:27] JounQin commented on #427
@enqueue Please use `remark-preset-prettier@2.0.1` before next version of `eslint-mdx`. They fix this issue if different ways.

[2022-09-12 12:30] enqueue commented on #427
@JounQin thanks for the super-fast fix. I wasn't sure in which project this bug report belonged.

[2022-09-12 12:33] JounQin commented on #427
I maintain both `eslint-mdx` and `remark-preset-prettier` at the same time.

It is indeed an issue at `eslint-mdx`'s side, but there could be a workaround from `remark-preset-prettier`.

[2022-09-13 07:18] jvdl opened #429 "Parser error for boolean attributes without an explicit value"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-09-13 07:20] jvdl commented on #420
I've opened up #429 as a continuation of this issue with a repro / failing test.

[2022-09-13 07:43] JounQin commented on #429
Thanks for reproduction, I'll check soon.

[2022-09-13 07:48] JounQin opened #430 "Add debug info"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-09-13 10:30] JounQin commented on #429
@jvdl Please help to test:

[code]

[2022-09-13 22:33] jvdl commented on #429
Nice one @JounQin that seems to work perfectly!

[2022-09-14 22:57] #429 closed

[2022-09-14 22:58] #427 closed

[2022-10-05 05:55] mike-fam opened #435 "Parse error for multiline object props on React components"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-10-05 09:04] JounQin commented on #435
Thanks for reporting issue by using the template, I'm on a vocation these days, I'll check later soon.

[2022-10-09 10:34] JounQin commented on #435
It seems related to `tab`, if I change the source codes with spaces there will be no issue:

[code]

The assertion error is thrown at https://github.com/mdx-js/eslint-mdx/blob/a1998c787f0049ae0cd705fc51f079c63ded75b2/packages/eslint-mdx/src/worker.ts#L491 where `attrValEnd` comes from `data.estree.range` directly, so could it be an issue from `micromark-extension-mdx-expression`? @wooorm

[2022-10-22 09:28] king-open commented on #361
Why does the vue module not found appear after installation?

[2022-10-22 09:33] ChristianMurphy commented on #361
@king-open please open a dedicated issue, as your question is completely unrelated to the issue you commented on.

The issue is most likely in your package.json file.
`eslint-mdx` does not modify or touch any dependencies
It is likely `vue` was already incorrectly installed, and running your package manager exposed the issue.

[2022-10-24 18:45] ransomledair commented on #429
I have observed this same issue for empty string props. e.g.
[code]
results in
[code]
from mdx eslint.

[2022-10-27 22:58] mike-fam commented on #435
Hi @JounQin, thanks for all your great work and investigating this. Is there any new update on this? For now, do you recommend replacing all the tabs in our stories with spaces or waiting for a new fix to be released?

[2022-10-29 19:54] JulianCataldo opened #436 "`eslint-plugin-mdx` doesn't seems to load `.remarkrc.mjs`"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-10-30 03:19] JounQin commented on #436
https://github.com/davidtheclark/cosmiconfig#searchplaces

PR welcome to add this support at https://github.com/mdx-js/eslint-mdx/blob/a1998c787f0049ae0cd705fc51f079c63ded75b2/packages/eslint-mdx/src/worker.ts#L60-L62

[2022-10-31 18:23] dimaMachina opened #437 "Strange behaviour of `react/jsx-curly-brace-presence`/`react/self-closing-comp`"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked

[2022-10-31 19:29] B2o5T commented on #437
repro https://github.com/B2o5T/mdx-repro

[2022-11-09 09:09] Halip26 commented on #250
I have the same problems & I dont know how to fix it :(

[2022-11-21 14:51] JoshuaKGoldberg opened #441 "Better parser error for SyntaxErrors in remark config file"
### Initial checklist

- [X] I read the [support docs](https://mdxjs.com/community/support/)
- [X] I read the [contributing guide](https://mdxjs.com/community/contribute/)
- [X] I agree to follow the [code of conduct](https://github.com/mdx-js/.github/blob/HEAD/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Amdx-js&type=Issues) and couldn’t find anything (or linked